@import "../../design-system/vars.scss";
@import "../../design-system/mixins.scss";

.collectionPreview {
  margin-bottom: 3em;

  margin-left: -1em;
  margin-right: -1em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0.5em;
  grid-row-gap: 3em;

  @include for-tablet-portrait-up {
    margin-left: initial;
    margin-right: initial;
    // grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-column-gap: 1em;
  }

  @include for-tablet-landscape-up {
    grid-template-columns: repeat(3, 1fr);

    &>div:nth-child(4) {
      display: none;
    }
  }

  @include for-desktop-up {
    grid-template-columns: repeat(4, 1fr);

    &>div:nth-child(4) {
      display: initial;
    }
  }
}

.showMore {
  text-align: center;

  &>div {
    display: inline-block;
    position: relative;

    &:hover {
      svg {
        // opacity: 0;
        display: none;
        animation: none
      }

      a.button {
        background-color: $color-primary;
        color: white;
        border: none;
        line-height: 48px;
      }
    }
  }

  svg.border {
    position: absolute;
    transition: all 0.2s;
    opacity: 1;
    z-index: 10;
    top: 0;
    left: 0;
    fill: none;
    stroke: $color-primary;
    stroke-width: 3px;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;

    animation-duration: 3s;
    animation-name: changeSvg;
    animation-iteration-count: infinite;
    // animation-direction: alternate;
  }

  a.button {
    transition: background-color 0.4s;
    display: inline-block;
    font-size: 1rem;
    width: 200px;
    height: 48px;
    line-height: 42px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 600;
    border: 3px solid #eee;
    border-radius: 4px;
    color: $color-primary;

  }
}

@keyframes changeSvg {
  from {
    stroke-dashoffset: 150;
  }

  to {
    stroke-dashoffset: -480;
  }
}