@import "../../design-system/vars.scss";
@import "../../design-system/mixins.scss";

.collectionFilter {
  overflow: hidden;

  // div {
  //   margin-bottom: 3em;
  // }
}

.filterContent {
  display: flex;
  flex-wrap: wrap;
}

// .tab {
//   display: flex;
// }