@import "../../../design-system/mixins.scss";

.cartItems {
  // height: 70vh;
  overflow-y: scroll;
}

.cartProduct {
  display: grid;
  grid-template-columns: 1fr 48px;
  grid-column-gap: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #e5e5e5;
}

.productDetails {
  grid-column: 1 / -1;
}

.itemQuantity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f7f7;

  @include for-tablet-portrait-up {
    justify-content: space-around;
  }

  &>button {
    padding: 0;
  }

  span {
    margin: 0 16px;
  }
}

button.btnGreen {
  display: block;
  margin: 48px auto;
  background-color: #27AE60;
  color: #fff;
}