@import "../../design-system/vars.scss";
@import "../../design-system/mixins.scss";

.categories {
  margin-bottom: 3em;

  // @include for-tablet-portrait-up {
  @include for-tablet-landscape-up {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // grid-column-gap: 16px;
    grid-column-gap: 1em;
  }

  &>div {
    position: relative;

    .title {
      position: absolute;
      top: 2em;

      z-index: 2;

      a {
        display: inline-block;

        // background-color: $color-primary;
        color: white;
        color: $color-primary;
        border: 1px solid $color-primary;
        padding: 0.75em 1.5em;
        line-height: 1;
        text-transform: uppercase;
        // font-weight: 700;
        // letter-spacing: 0.05em;
        border-radius: 0.25em;
        transition: all ease-out 0.2s;

        &:hover {
          // background-color: transparent;
          // color: $color-primary;
          color: white;
          background-color: $color-primary;
        }
      }
    }

    &:nth-child(1) {
      margin-bottom: 1em;

      // @include for-tablet-portrait-up {
      @include for-tablet-landscape-up {
        margin-bottom: 0;
      }

      .title {
        left: 2em;
      }
    }

    &:nth-child(2) {

      .title {
        text-align: right;
        right: 2em;
      }
    }
  }
}