@import "../../design-system/vars.scss";
@import "../../design-system/mixins.scss";

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: $color-primary;
  height: 64px;
  padding: 0 8px;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @include for-tablet-landscape-up {
    position: static;
  }

  button {
    margin: 0;
    padding: 0;
    cursor: pointer;
  }
}

.logo {

  a,
  span {
    color: white;
  }

  @include for-tablet-landscape-up {
    margin-left: 1em;
  }
}

.mobileMenu {
  line-height: 0;

  @include for-tablet-landscape-up {
    display: none;
  }
}

.headerLinks {
  display: none;

  a {
    color: white;
  }

  @include for-tablet-landscape-up {
    display: block;
  }

  &>a+a {
    margin-left: 3em;
  }
}